<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - SA </title>
        {% else %}
        <title>Student Assistant App!</title>
        {% endif %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {{ moment.include_moment() }}
    </head>
    <body>


        <nav class="navbar navbar-light navbar-expand-lg" style="background-color:  rgb(236, 128, 137);">
            <div class="container">
            <a class="navbar-brand text-white" href="{{ url_for('main.index_instructor') }}">Home</a>
            <button class="navbar-toggler" type="button" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <!--{% if current_user.is_anonymous %}-->
                    <li class="nav-item border border-light px-2 ms-auto">
                        <a class="nav-link text-white" aria-current="page" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <!--{% else %}-->
                    <li class="navbar-nav mb-2 mb-lg-0 align-items-center">
                        <a class="nav-link text-white" aria-current="page" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                   <!--{% endif %}-->
                </ul>
            </div>
            </div>
        </nav>
      
        <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
        </script>
    </body>
</html>